<nav style="background-color: #333; padding: 10px; display: flex; align-items: center; justify-content: space-between;">
    <h1 style="color: white; margin: 0;">MANDOSED</h1>
    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}">Pág.Prev.</a>
    {{else}}
    <a href="/?page={{prevPage}}" class="disabled">Pág.Prev.</a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}">Pág.Sig.</a>
    {{else}}
    <a href="/?page={{nextPage}}" class="disabled">Pág.Sig.</a>
    {{/if}}

    <button type="button" onclick="finishPurchase()">
        Finalizar compra
    </button>
</nav>

<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    {{#each products}}
    <div
        style="background: white; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); margin: 10px; padding: 16px; width: calc(25% - 20px); text-align: center;">
        <h2 style="font-size: 20px; margin: 10px 0;">{{title}}</h2>
        <p style="color: #666;">{{description}}</p>
        <div style="font-size: 24px; color: #333; margin: 10px 0;">$ {{price}}</div>
        <p style="color: green;">En stock: {{stock}}</p>
        <p style="margin: 0;">Código: {{code}}</p>
        <p style="margin: 0;">Categoría: {{category}}</p>
        <button type="button" onclick="addToCart('{{_id}}')"
            style="background-color: #333; color: white; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer; margin-top: 10px; transition: background-color 0.3s;">
            Agregar al carrito
        </button>
    </div>
    {{/each}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    let carrito = JSON.parse(localStorage.getItem('carrito')) || [];
    function addToCart(id) {
        carrito.push(id);
        console.log(carrito);
        localStorage.setItem('carrito', JSON.stringify(carrito));
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Producto agregado al carrito',
            showConfirmButton: false,
            timer: 1500
        });
    }
    function finishPurchase() {
        if (carrito.length === 0) {
            Swal.fire({
                icon: 'warning',
                title: 'No hay productos en el carrito',
                showConfirmButton: false,
                timer: 1500
            });
            return;
        }
        fetch('http://localhost:8080/api/carts/finalizar-compra', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ carrito })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Compra exitosa',
                        text: '¡Gracias por tu compra!',
                        showConfirmButton: true
                    });
                    localStorage.removeItem('carrito');
                    carrito = [];
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al procesar la compra',
                        text: data.message || 'Hubo un problema con el procesamiento de tu compra.',
                        showConfirmButton: true
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'Error al procesar la compra',
                    text: 'Hubo un problema al conectarse con el servidor.',
                    showConfirmButton: true
                });
            });
    }
</script>